//Variables
$colorPrincipal: #f0ebcc;


body{
    margin: 0px;        
}


footer{
    background-image: linear-gradient(white , #A8A3F0);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    div{
        width: 50%;
    }
    h2{
        text-transform: uppercase;
        letter-spacing: 5px; 
    }
}

h1{
    text-align: center;
    font-weight: bolder;
    color: #3d84b8;
    animation-duration: 2s;
    animation-name: opacidad;
}

h2{
    color: #344fa1;
    font-size: 2rem;
}

label{
    text-decoration: underline; /*subrayado en formulario */
}

span{
    font-weight: bold
}

form{    
    font-weight: bold;
}
$colores: (
    "Marron": #f0ebcc,
    "Gris": #f7f7f7,
    "Botones": #007bff,    
);

@each $tema, $color in $colores {
    
    .color#{$tema} {
        background-color: $color;
    }	
}

.colorBotones--blanco{
    color: white;
}

.coloBotones--alto{
    height: 40px;
}


/* IDs*/


/* menu y logo*/
#logo{
    width: 50%;
    position: relative;
    top: 10px;
    left: 10px;
    /* margin-left: 5px;     */
}
.nav-item{
    font-size: 15pt;
}


.grilla{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}






#nombreEmpresa{
    text-align: center;
    font-size: 50pt;
}


/*BEM*/

/* header */
.header{
    background-image: linear-gradient($colorPrincipal, white);    
    display: flex;
    flex-flow: row nowrap;    
}

.degradado{
    background-image: linear-gradient($colorPrincipal, white);
}

.alineacionDerecha ul{ /*alineacion de menu smartphone*/
    align-items:flex-end;
}


/* contenedor de todos los html */
.contenedor{
    margin: 0px 10%;
}

/*modificadores*/
.contenedor--margen{
    margin: 15px 10%;

}

.accordion--margen{
    margin: 25px 0;
}

.secciones{
    margin: 15px;
    padding: 15px;        
    border-radius: 25px;
}


/* home*/
.secciones__index{  
    @extend .secciones;
    font-size: 1.5rem;  
    h2{
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
        left: 50px;
        font-weight: bold;
    }
    p{    
        color: #3f3697;
        align-self: center;        
        line-height: 45px;
        font-weight: lighter;
    }
}


/* nosotros*/
.secciones__nosotros{
    @extend .secciones;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: lighter;
    color: #3f3697;     
}   

/*seccion contacto*/
.btn{
    margin-top: 15px;    
}


.imagenConBordes{    
    border-radius:50px;
    width: 100%;
    height: auto;
}


.secciones__listaNosotros{    
    list-style-position: inside;
    list-style-type:square;    
}

/* Seccion ayuda */
.ayuda{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ayuda__pieDeVideo{
    font-size: 85%;
    margin-top: 0px;
}

.bordesTB{
    margin-top: 25px;
    margin-bottom: 25px;
}

.bordesTB--sinAbajo{
    margin-bottom: 0px;
}

.centrado{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}

.centro{ /*centra el carrusel*/
    margin-left: auto;
    margin-right: auto;

}



@mixin sizes($width, $height) {
    @if $width and $height != 0{
        height: $height;
        width: $width;
    }
    @else if $height == 0{
        width: $width;
        height: $width;
    }

}

.achicar { /*mixim con if*/
    @include sizes(40%, 0);
}
 
/* Footer */
.copyright{    
    margin-left: 15px;    
}
.redesSociales{    
    float: right;
}

.redesSociales__listaRedes{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;    
    li{
        margin: 15px;        
    
    }

}
.fab{
    color: black;
    size: 15pt;
}


.centradoCards{ /*centra las card*/
    justify-content: center;
}


/* Pseudoclase del menu */

#menu :hover{
    background-color: rgb(90, 90, 90);
    color: white;    
    border-radius: 5px;
    transform: scale(1.5);
}

/* ANIMACION */

.animacion{
    animation-duration: 2s;
    animation-name: escalar;
}

/* productos */
.servicios{
    grid-area: productos;
    background-color:  #3f3697;
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
    padding: 25px;
    row-gap: 20px;
    column-gap: 5px;    
}

.cartaServicios{
    text-align: center;    
    background-color: $colorPrincipal;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.cartaServicios:hover{
    z-index: 1;
    transition-duration: .5s;
    transform: scale(1.1);
}

/*404*/
.centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    p{
        margin: 80px;
    }
}


/*ANIMACIONES*/
@keyframes opacidad {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes escalar {
    0%{
        width: 30%;
    }
    100%{
        width: 100%;
    }
}


/*MEDIA QUERIES*/ 
@media only screen and (max-width: 600px) {    
    footer div{
        width: 100%;
    }
    .secciones__index {
        font-size: 1rem;
    }
    .achicar{
        width: 100%;
    }
    .secciones{
        font-size: 1rem;
    }
    .contenedor{
        margin: 0px;
    }
    iframe{
        width: 100%;
    }    
}

@media only screen and (max-width: 768px) and (min-width: 600px) { 
    .achicar{
        width: 80%;
    }
    iframe{
        width: 100%;
    } 
}