<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Servicios de binary code, una breve descripcion de los servicios y su precio">
    <meta name="keywords"  content="binary code, servicios, productos, formateo, limpieza, office, redes, hardware, software, antivirus, virus">
    <!-- Link fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">  
    <!-- Link al css -->
    <link rel="stylesheet" href="../assets/estilos.css">
    <link  rel="icon" href="../assets/iconos/logo_icono.png" type="image/png" />
    <title>Servicios - Binary Code</title>
</head>
<body>
    <!--header con menu de navegacion-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light degradado alineacionDerecha">
            
            <div id="logo" >            
                <a href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../index.html" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./ayuda.html">Ayuda</a>
                </li>
                 
              </ul>
              
            </div>
          </nav>
    </header>
    

    <main>
        <h1>Servicios disponibles</h1>
        
        <!-- contenedor y rows -->
        <div class="contenedor contenedor--margen ">
            <div class="row centradoCards">
                
                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/formateo.png" class="card-img-top" alt="formateo">
                    <div class="card-body grilla">
                      <h5 class="card-title bold">Formateo</h5>
                      <p class="card-text">Puesta a cero de la pc, incluye antivrus y paquete office.</p>
                      <p class="d-inline p-2 colorBotones text-white">$500</p>
                    </div>
                </div>

                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/virus.png" class="card-img-top" alt="limpieza">
                    <div class="card-body grilla">
                      <h5 class="card-title">Limpieza de virus</h5>
                      <p class="card-text">Eliminacion de virus, spywares, adwares y limpieza de registro.</p>
                      <p class="d-inline p-2 colorBotones text-white">$350</p>
                    </div>
                </div>

                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/armado.png" class="card-img-top" alt="armado">
                    <div class="card-body grilla">
                      <h5 class="card-title">Armado de pc</h5>
                      <p class="card-text">Previa compra de partes se armara desde cero la pc (no incluye SO).</p>
                      <p class="d-inline p-2 colorBotones text-white">$300</p>
                    </div>
                </div>
                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/hardware.png" class="card-img-top" alt="reemplazo">
                    <div class="card-body grilla">
                      <h5 class="card-title">Cambio de Hardware</h5>
                      <p class="card-text">Cambio o adicion de hardware a la pc e instalacion de driver (No incluye motherboard ni disco principal).</p>
                      <p class="d-inline p-2 colorBotones text-white">$250</p>
                    </div>
                </div>

                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/limpieza.png" class="card-img-top" alt="limpieza">
                    <div class="card-body grilla">
                      <h5 class="card-title">Limpieza fisica</h5>
                      <p class="card-text">Limpieza de componentes internos y cambio de pasta termica.</p>
                      <p class="d-inline p-2 colorBotones text-white">$150</p>
                    </div>
                </div>
                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/descarga.png" class="card-img-top" alt="sofware">
                    <div class="card-body grilla">
                      <h5 class="card-title">Creacion de sofware</h5>
                      <p class="card-text">Creacion de sofwarea medida de la exigencias del cliente.</p>
                      <p class="d-inline p-2 colorBotones text-white">$1500</p>
                    </div>
                </div>

                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/redes.png" class="card-img-top" alt="red">
                    <div class="card-body grilla">
                      <h5 class="card-title">Armado de redes</h5>
                      <p class="card-text">Armado de red hogareña o de oficina para compartir recursos (no incluye Router).</p>
                      <p class="d-inline p-2 colorBotones text-white">$500</p>
                    </div>
                </div>
                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/office.png" class="card-img-top" alt="office">
                    <div class="card-body grilla">
                      <h5 class="card-title">Instalacion de office</h5>
                      <p class="card-text">Version mas nueva con word, excel, porwerpoint, etc.</p>
                      <p class="d-inline p-2 colorBotones text-white">$100</p>
                    </div>
                </div>

                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/antivirus.png" class="card-img-top" alt="antivirus">
                    <div class="card-body grilla">
                      <h5 class="card-title">Instalacion de antivirus</h5>
                      <p class="card-text">Instalacion de programa adecuado a su pc, puede ser antivirus Eset, Kaspersky, Avast.</p>
                      <p class="d-inline p-2 colorBotones text-white">$150</p>
                    </div>
                </div>
                <div class="card cartaServicios" style="width: 18rem;">
                    <img src="../assets/iconos/clonacion.png" class="card-img-top" alt="clonacion">
                    <div class="card-body grilla">
                      <h5 class="card-title">Clonado de disco</h5>
                      <p class="card-text">En el proceso de copiarán particiones, gestor de arranque e incluso si lo deseamos, sector por sector.</p>
                      <p class="d-inline p-2 colorBotones text-white">$350</p>
                    </div>
                </div>

                
                
            </div>
        </div>
        

    </main>
    

    <!--footer de copy y RRSS-->    
    
    <footer class="container-fluid">
        <div class="row">
            
            <!--copyright-->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <h2>Copyright</h2>
                <p>Cristian Barragan</p>
            </div>
            
            <!--redes sociales-->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">            
                <h2>Redes sociales</h2>
                <ul class="redesSociales__listaRedes">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></li>
                  <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div>

            
        </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>